# 1.Exploracion de los datos

**Comenzamos exportando la tabla y las librerias**

In [11]:
from IPython.display import display, HTML
import os
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import re
from Operaciones import *
os.chdir("../Imputs")
dataset=pd.read_csv("data_raw.csv", engine = "python")

ModuleNotFoundError: No module named 'Operaciones'

In [4]:
dataset.shape

(25723, 24)

In [ ]:
dataset.columns

In [ ]:
dataset.info()

*Con esta info nos hacemos una idea del número de columnas y filas y nos damos cuenta que no todas las columnas tienen el mismo número de filas

*Vemos en columnas que hay nombres de columnas con espacios de más 

*Todas las columnas son object excepto dos de ellas

**Para tener una visión más clara imprimimos la tabla**

In [ ]:
pd.set_option('display.width',500)
dataset

*Existen espacios en las celdas que estropean el diseño 

*Case Number, Case Number.1 y Case Number.2 dan información similar

*Las columnas de pdf, href e investigator source, no aportan información de valor para el análisis

*Case Number que es una de las columnas con más filas, tiene en la cola un aespecie de indíce 0

*En name hay elementos que deberían ir en Sex.

**Comprobamos la cantidad de Nam con los que nos encontramos**

In [ ]:
dataset.isnull().sum()

*Vemos que las columnas Unnamed 22 y 23 tienen casi todos los valores NaN (con respecto a los 5992 que vemos en info

*La columna Time, tiene más de la mitad de los valores NaN

*La columna Age y Species se acercan a la mitad

**Chequear si las columnas son únicas**

In [ ]:
dataset.apply(lambda x: x.nunique())

*Parece interesante que haya 9 valores diferentes en Y/N que solo debería tener dos opciones

*En Ages, hay 152 opciones...nadie vive tanto

*lo mismo , sucede en Sex, hay 6 tipos, y no existen tantos sexos.

# 2.Limpieza de datos tras un primer contacto

In [ ]:
dataset.shape  #numero de valores antes de borrar

**Borramos todos los NaN**

In [ ]:
dataset = dataset.dropna(how='all')

In [ ]:
dataset.shape  #numero despues de borrar

**Cambiar los datos a tipo objet para poder utilizar Redex**

In [ ]:
dataset['Year']=dataset['Year'].astype(object)

**Solventar los espacios de las columnas que vimos en columns renombrando**

In [ ]:
dataset.rename(columns={"Sex ":"Sex", "Species ":"Species"}, inplace = True)

**Borrar espacios de las celdas**

*Ya podemos borrar al tener todo en object

In [ ]:
dataset.applymap(lambda x: x.strip() if type(x)==str else x)

**Comparar Number Case con Number Case 1, y Number Case 2, para ver si tienen valores iguales o parecidos**

*Crearemos una columna que será True si Case y Case Number 1 son iguales y False si son diferentes
*Haremos lo mismo con Case Number y Case Number 2

In [ ]:
dataset.columns

In [ ]:
Casenumber_subset = dataset[['Case Number','Case Number.1','Case Number.2']]

In [ ]:

 
comparing_cols(dataset["Case Number"],dataset["Case Number.1"],dataset["Case Number.2"])

*Vamos a comprobar los datos que son iguales entre Case Numer y Case Numer 1 vs Case Numer y Case Number 2

*Podemos ver entonces que Case Number 1, tiene mas diferencias, pero parecidas a Case Numer 2.Teniendo en cuenta que Case Number tiene  6297( respecto a 6278 y 6278 ), no dista mucho del numero de valores. Por lo tanto borramos tanto Case Number 1, como Case number 2

In [ ]:
dataset.drop(["Case Number.1","Case Number.2"],axis=1, inplace=True)

*Volvemos a quitar los espacios, dado que antes para toda la tabla no se nos han eliminado.
ESta vez solo lo haremos en l acolumna Case Number.

In [ ]:
dataset["Case Number"].apply(lambda x: x.strip() if type(x)==str else x)

In [ ]:
dataset["Case Number"].tolist() #estan con letras aleatorias tras las fechas. podremos fecha +a si no tiene letra o acaba en R
                                #y fecha +b,c,d si tiene esas letras para indicar que es el segundo,tercer,o cuarto caso de esa fecha
                                #se espera emberllecer la columna

In [ ]:

for index, row in dataset.iterrows():
    filter_data = dataset.loc[index, "Case Number"]
    filter_data = re.sub('[^0-9a-zA-Z]+', '.',str(filter_data))
    if filter_data[-1] =='R':         
        filet_new_data =str(filter_data[:5]) + str(filter_data[5:7])+ str(filter_data[7:9]) + str(".") + str("a")
        dataset.loc[index, "Case Number"] = filet_new_data
    elif len(filter_data) <=11:       
        filet_new_data = str(filter_data[:-1])+ str(".")+str("a")
        dataset.loc[index, "Case Number"] = filet_new_data

In [ ]:
dataset["Case Number"].tolist() #comprobamos...bien , se ha cambiado

In [ ]:
dataset.columns

**Chequeamos si los tres valores que quedan en Unnamed 22 y 23  tienen sentido y... decidimos borrar ambas columnas, pues Teramo, change filename y stopped here no aporta valor**

In [ ]:

df_un_22 = dataset[~dataset["Unnamed: 22"].isnull()|~dataset["Unnamed: 23"].isnull()][["Unnamed: 22","Unnamed: 23"]]
df_un_22

In [ ]:
dataset.drop(["Unnamed: 22","Unnamed: 23"], axis=1, inplace=True)

**Como hemos visto que hay demasidas opciones de datos vamos a unificarlos en 3: M,F,Undefined**

In [ ]:
print(set(dataset["Sex"]))

In [ ]:


dataset["Sex"] = dataset["Sex"].apply(sex_def)

dataset["Sex"]

In [ ]:
print(set(dataset['Fatal (Y/N)']))

**Con Fatal (Y/N) pasaba algo parecido, demasiadas opciones. Las reagrupamos en tres:Y,N, Unknown**

In [ ]:

dataset["Fatal (Y/N)"] = dataset["Fatal (Y/N)"].apply(muertes_si_no)

dataset["Fatal (Y/N)"].head(200)

In [ ]:
dataset.apply(lambda x: x.nunique())

**Hemos visto que en Time había gran cantidad de Nan,y los valores salvados son insignificantes con respecto al conjunto de datos de la columna. Por lo tanto, borraremos la columna**

In [ ]:
dataset.drop(["Time"],axis=1,inplace=True)

**Con Species pasa parecido, las mejor definidas serían White Shark, Tiger Shark, pero no son suficientes para obtener un dato eficiente**

In [ ]:
dataset['Species'].value_counts()

In [ ]:
dataset.drop(["Species"],axis=1, inplace=True)

dataset.columns

**Name hemos dicho que no aportaba valor, asi que tambien lo borramos**

**Nos pasa lo mismo con pdf,href e Investigator Source que no nos sirven de nada para el análisis**

In [ ]:
dataset.drop(["Name"],axis=1,inplace=True)

In [ ]:
dataset.columns

In [ ]:

cols = [6,12,13,14,15,16]
dataset=dataset.drop(dataset.columns[cols], axis =1)

In [ ]:

dataset['Age'] = pd.to_numeric(dataset['Age'].replace(',','', regex=True), errors='coerce', downcast='float')
dataset['Age'] = pd.to_numeric(dataset['Age'], errors='coerce') #no se puede pasar un string a int de una
dataset['Age'].fillna(0, inplace=True)

# 3.Limpiando las columnas restantes

**En la columna Age extraer los número del string para unificar la columna**

*Tambien le daremos el valor 0 a los datos por encima de 100, porque nadie vive tanto.

In [ ]:
dataset['Age'] = dataset['Age'].apply(lambda x: 0 if x > 100 else str(x))

In [ ]:
dataset.apply(lambda x: x.nunique())

In [ ]:
dataset['Age'].value_counts()

*Vemos que ha cambiado a 87

**En Country, aplicamos mayúsculas a los valores del atributo "Country" y eliminamos los espacios al principio y al final del string**

In [ ]:

dataset['Country']=dataset['Country'].str.upper()
dataset['Country']=dataset['Country'].str.rstrip()
dataset['Country']=dataset['Country'].str.lstrip()

**Exploramos la columna Date**

In [ ]:
dataset["Date"].value_counts().head(20)

In [ ]:
dataset["Date"].fillna(" ", inplace = True) #super importante, me daba un error de que tenía floats, y es que los nulos estan consierados floats
date = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', 7:'Jul', 8:'Aug', 9:'Sep', 10:'Oct', 11:'Nov', 12:'Dec'}
for index, row in dataset.iterrows():
    data_date = dataset.loc[index, "Date"]# hago un loc de date
    data_date=data_date.replace(r'\D','') # todo lo que no sea digito lo reemplazo por nada ¡¡¡¡no va!!                                     #data_date=data_date.fillna(" ", inplace = True) por que no me deja hacerlo ?
    

    
    for num, months in date.items(): #vamos a reeplazar los meses por numero
        if str(months) in data_date:
            data_date=data_date.replace(str(months),str(num))
            dataset.loc[index, "Date"]= data_date  
                
        else:
            pass
            
dataset["Date"].tolist()

In [ ]:
"""
#ESTO ES UN INTENTO DE LIMPIAR Y PÀSAR A FORMATO FECHA PERO NO LO HE CONSEGUIDO

weird_dates = []
for index, row in dataset.iterrows():
    data_date= dataset.loc[index,"Date"]

    match = re.search(r"(\d+[-/]\d+[-/]\d+)", data_date) #todo lo que tenga un formato diferente a un formato fecha
                                                         #lo meto en una lista llamada weird_dates para ver si podemos salvar mas
                                                        #ya que aun sin formato de fecha parecen ser fechas mal escritas
    if match is not None:
        weird_dates.append("")
        # print(match.group(0))

    else:
        weird_dates.append(data_date)                     #¡en efecto, nada interesante!
        #print(weird_dates)
 

#AQUI SEGUÍA EL INTENTO-------------------------------------------------


for index, row in dataset.iterrows():
    filter_data = dataset.loc[index, "Date"]
    
    if filter_data[5] =='-':         
        filet_new_data =str(filter_data[:2]) + str("-")+ str("0")+ str(filter_data[2:5])+str("-")+ str(filter_data[5:9])
        dataset.loc[index, "Date"] = filet_new_data
        
        
#AQUÍ SEGUÍA EL ERROR AL NO COINCIDIR DE FORMA EXACTA CON EL FORMATO FECHA. CON QUE SEA 00.0.0000 Y NO 00.00.00. DA ERROR

 # lo pasamos a formato fecha porque sera mas facil de esa forma extraer dia, mes y año en tres columnas 
dataset['Date'] = pd.to_datetime(dataset['Date'], format="%d/%m/%Y")
#df['Datetime'] = pd.to_datetime(df['Datetime'])
"""

*Vemos que hay fechas completas mezcladas con años sueltos. Se me ocurre extraer los años que es lo único que nos interesa. Aunque ya tengamos otra columna year, esta parece más interesante.

In [ ]:

dataset["Year"]=dataset["Date"].str.extract(r"([0-9]{4})")

In [ ]:
dataset["Year"].value_counts().head(20) #Chequeamos que se han cambiado los años

In [ ]:

dataset['Year'] = pd.to_numeric(dataset['Year'].replace(',','', regex=True), errors='coerce', downcast='float')
dataset['Year'] = pd.to_numeric(dataset['Year'], errors='coerce') #no se puede pasar un string a int de una
dataset['Year'].fillna(0, inplace=True)

In [ ]:
dataset["Year"]= dataset["Year"].apply(year)

*Ahora sí, eliminamos la columna Date

In [ ]:
dataset.drop(["Date"],axis=1,inplace=True)

In [ ]:
dataset.columns

**Exploramos la columna Type**

In [ ]:
dataset['Type'].value_counts()

*Vemos que hay diferentes tipos de datos donde Boating,Boat, Questionable, Sea Disaster junto on Invalid e puede resumir en desconocido.

In [ ]:
dataset.loc[dataset['Type'] != "Unprovoked", "Provoked"] = "Unknown"
dataset["Type"]

**Miremos la columna Injury**

In [ ]:
dataset["Injury"].value_counts().head(20)

*Salen datos muy distintos pero bastante completos. No la vamos a tocar

**Miramos la columna Activity**

In [ ]:
dataset["Activity"].value_counts().head(60)

*Vemos que algunas actividades no son deportes sino palabras random que se han introducido erroneamente. 
Es por eso que vamos a conservar solo aquellas palabras que tengan "ing", pues es la terminación de los deportes.

In [ ]:
dataset['Activity'] = dataset['Activity'].fillna('No Values')

dataset["Activity"]= get_ing(dataset["Activity"])

In [ ]:
dataset["Activity"].value_counts().head(30)

**Exportar a csv**

In [ ]:
dataset.columns

In [ ]:
small_dataset=dataset[["Year","Country","Fatal (Y/N)"]]
small_dataset

In [ ]:
#ruta = "../Outputs/out_dataset.csv"
#dataset.to_csv(ruta)

# 4. ¡Vamos a Analizar!

In [ ]:

decades_fatal_sum = dataset.groupby(["Year", "Fatal (Y/N)"]).agg({"Fatal (Y/N)":"count"})
decades_fatal_sum.head(10)

In [ ]:
decades_fatal_sum["%"] =decades_fatal_sum.apply(lambda x:  100*x / x.sum())
#decades.head(10).sort_values(by="%")
decades_fatal_sum  = decades_fatal_sum .xs("Yes", level = "Fatal (Y/N)", drop_level = False)
decades_fatal_sum

In [ ]:
decades_fatal_sum.plot.bar()

In [ ]:
output_total = dataset.groupby(["Country"]).agg({"Country":"count"})
output_total.append(output_total.agg(['sum']))

In [ ]:

output_fatal =dataset.groupby(["Country", "Fatal (Y/N)"]).agg({"Country":"count"})
output_fatal